<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="DirectoryMonitorPath" value=""/>
      <add key="DirectoryOutputPath" value=""/>
      <add key="ImageNamePattern" value="\w*_\d*.\w*"/>
      <add key="PdfNamePattern" value="{$}"/>
      <add key="PdfNameTemplate" value="Document_{$}.pdf"/>
    </appSettings>
</configuration>